@media screen and (max-width: 1200px) {

	/*start part one*/

	.top-header-cont {
		width: 100%;
		padding: 0 50px;
		box-sizing: border-box;
	}





	.navbar-container {
		display: flex;
		padding: 20px 40px;
		align-items: center;
		justify-content: space-between;
	}

	.section-main-part {
		width: 100%;
		height: 100vh;
		padding: 0px 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-image: url(../img/chef-portrait/slider1.jpg);
		box-sizing: border-box;
	}

	/*End main part */

	/*Start section second*/

	.section-second-part {
		width: 95%;
		height: 500px;
		padding: 50px 0 0;
		margin: auto;
		display: flex;
		align-items: flex-start;
		box-sizing: border-box;
	}

	/*End section second*/

	.cont-row {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

@media screen and (max-width: 992px) {

	/*start part one*/

	.top-header-cont {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.navbar-container {
		width: 100%;
		position: fixed;
		top: 0;
		display: flex;
		padding: 20px;
		align-items: center;
		background-color: #222222;
		justify-content: space-between;
	}

	.navbar-brand {
		display: inline-block;
		width: 130px;
		margin: 0 27px;
		font-size: 1.25rem;
		transition: .5s ease-in-out;
	}

	.menu-nav {
		display: none;
	} 

	.small-menu {
		display: block;
		width: 50px;
		color: white;
		font-size: 35px;
		text-align: center;
	}

	.subtitle {
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 500;
		letter-spacing: 2px;
		color: rgba(255, 255, 255, 0.7);
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.main-title {
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: #FFF;
		letter-spacing: 3px;
	}

	.section-main-part {
		width: 100%;
		height: 100vh;
		padding: 0 50px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-image: url(../img/chef-portrait/slider1.jpg);
	}

	/*End part one*/

	/*Start section part two*/

	.section-second-part {
		width: 95%;
		height: auto;
		padding: 50px 0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		box-sizing: border-box;
	}

	.home-about {
		width: 95%;
		padding: 0 15px;
		box-sizing: border-box;
	}

	.subtitle {
		color: #a3b0b4;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	p {
		margin-bottom: 10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 25px;
		color: #808080;
	}


	.signature {
		width: 180px;
		height: 130px;
		margin-top: 35px;
	}


	.home-about-imges {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.home-about-img-cont {
		max-width: 50%;
		padding: 0 15px;
	}

	/*End section-second*/

	/*Start section-three*/
	.section-three-part {
		width: 100%;
		display: block;
	}

	.feature-right {
		display: inline-block;
		width: 100%;
		height: auto;
		margin-top: 0;
		margin-left: 0;
		background-color: #FF404C;
		box-sizing: border-box;
	}

	.feature-right-content {
		width: 95%;
		height: 100%;
		margin: auto;
		padding: 25px 0;
		box-sizing: border-box;
	}

	.media img {
		width: 50px;
		height: 50px;
		margin-right: 15px;
	}
	/*End section three */

	/*Start section four*/
	.center-title {
		width: 70%;
	}

	.menu-box {
		display: block;
	}

	.row-cont-menu-box{
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.section-five-part {
		width: 100%;
		height: auto; 
		box-sizing: border-box;
		padding: 40px 0px;
	}

	.cont-team-card {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.team-card-box {
		width: 45%;
		background-color: #FFF;
		padding: 25px;
		margin: 15px;
		box-shadow: 1px 1px 10px lightgray;
		box-sizing: border-box;
	}

	.cont-row {
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*start section six */

	.gallery-wrrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.thumbnail {
		display: inline-block;
		width: 48%;
		margin: 0px 5px;
		position: relative;
		cursor: pointer;
	} 

	.thumbnail-none {
		display: none;
	}

	.cont-row {
    width: 90%;
    margin: auto;
    display: block;
    text-align: center;
  }

}


@media screen and (max-width: 768px) {

	/*start part one*/

	.top-header-wrapper{
		display: none;
	}

	.top-header-cont {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.navbar-container {
		display: flex;
		padding: 20px 30px;
		align-items: center;
		justify-content: space-between;
	}

	.navbar-brand {
		display: inline-block;
		width: 80px;
		margin: 0 27px;
		font-size: 1.25rem;
	}
	.navbar {
		position: absolute;
		left: 0;
		top: 30px;
		width: 100%;
		z-index: 10;
	}

	.main-title {
		font-size: 40px;
		line-height: 45px;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: #FFF;
		letter-spacing: 3px;
	}

	/*End part one*/

	/*Start section part two*/

	.home-about-imges {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.home-about-img-cont {
		max-width: 100%;
		padding: 10px 0;
	}

	/*End Section two*/

	/*Start section three*/

	.feature-right-content {
		width: 90%;
		height: 100%;
		margin: auto;
		padding: 25px 0;
		box-sizing: border-box;
	}

	/*End section three*/

	/*Start section four */

	.row-cont-menu-box{
		display: block;
	}

	.cont-menu-box {
		width: 100%;
		padding-left: 15px;
		padding-right: 50px;
		box-sizing: border-box;
	}

	.cont-team-card {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.team-card-box {
		width: 40%;
		background-color: #FFF;
		padding: 25px;
		margin: 15px;
		box-shadow: 1px 1px 10px lightgray;
		box-sizing: border-box;
	}

	.thumbnail {
		display: inline-block;
		width: 48%;
		margin: 0px 5px;
		position: relative;
		cursor: pointer;
	} 

	.thumbnail-none {
		display: none;
	}

}


@media screen and (max-width: 576px) {

.thumbnail {
	display: inline-block;
	width: 95%;
	margin: 0px 5px;
	position: relative;
	cursor: pointer;
}

.thumbnail-small-none {
	display: none;
}

}