* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

/*start header*/

.top-header-wrapper {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	transition: 0.6s ease-in;
	z-index: 2;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid gray;
	background-color: transparent;
	box-sizing: border-box;
}

.top-header-cont {
	width: 95%;
	padding: 0 100px;
	margin: auto;
	box-sizing: border-box;
}

.top-header-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	box-sizing: border-box;
}

.top-header-contact {
	width: 50%;
}

.top-header-contact span {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 20px;
}

.top-header-contact span a {
	transition: .5s linear;
}

.top-header-contact span a:hover {
	color: #e6000f;
} 

.phone::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f879";
	margin-right: 7px;
}

.tel-no {
	text-decoration: none;
	color: white;
}

.email {
	text-decoration: none;
	color: white;
}

.email::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f0e0";
	margin-right: 7px;
}

.text-right {
	width: 50%;
	padding: 0 15px;
}

.top-social {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

.top-social li {
	display: inline-block;
	margin-left: 15px;
	transition: 0.5s;
}

.social-list li a {
	color: #FFF;
	transition: 0.4s;
}

.quote-btn {
	font-size: 13px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	padding: 10px 15px;
	margin-left: 25px;
	border-radius: 5px;
	color: #FFF;
	background-color: #FF404C;
	transition: 0.5s;
}

.quote-btn:hover {
	background-color: #e6000f;
} 

li::selection {
	background-color: #FF404C;
	color: #fff;
}

li:hover {
	color: #FF404C;
}

/*End header*/


/*start nav*/
.navbar {
	position: absolute;
	left: 0;
	top: 70px;
	width: 100%;
	z-index: 10;
	box-sizing: border-box;
}

.navbar-scroll {
	position: fixed;
	left: 0;
	top: 0;
}

.navbar-container{
	padding: 15px 100px;
	box-sizing: border-box;
}

.navbar-brand {
	display: inline-block;
	width: 130px;
	margin: 0 27px;
	font-size: 1.25rem;
	transition: .5s ease-in-out;
}

.navbar-brand img {
	width: 100%;
}

#main_nav {
	display: inline-block;
}

.navbar_menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-nav {
	display: flex;
	list-style-type: none;
	color: inherit;
}

.menu-item {
	margin-left: 10px;
	padding: 23px 15px;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	color: #FFF;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-left: 10px;
}

.menu-item:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	width: 200px;
	position: absolute;
	left: 0;
	top: 100%;
	list-style-type: none;
	color: inherit;
	border-radius: 5px;
	background-color: #222222;
}

.dropdown-item {
	width: 200px;
	font-size: 13px;
	font-weight: 400;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	background-color: transparent;
}

.dropdown-item a {
	padding-left: 20px; 
}

.dropdown-item-last {
	border: 0;
} 


.small-menu {
	display: none;
	width: 50px;
	color: white;
	font-size: 35px;
	text-align: center;
}

/*End nav*/

/*Start section-main*/
.section-main-part {
	width: 100%;
	height: 100vh;
	padding: 0 100px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url(../img/chef-portrait/slider1.jpg);
	box-sizing: border-box;
}

.slider-caption {
	margin: 0 27px;
	cursor: grab;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 5px;
	font-size: 1rem;
	line-height: 1.2em;
	font-weight: 500;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 5px;
	text-transform: uppercase;
}

.main-title {
	font-size: 60px;
	line-height: 65px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #FFF;
	letter-spacing: 3px;
}

.slider-caption {
	width: 100%;
}

.btn-default {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	padding: 10px 30px;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 1.3;
	letter-spacing: 1px;
	font-weight: 600;
	color: #FFF;
	background-color: #ff404c;
	text-align: center;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s ease-in-out ;
}

.btn-default:hover {
	background-color: #222222;
}

.arrow {
	color: white;
	font-size: 40px;
	font-weight: 900;
	color: lightgray;
	padding: 0 6px;
}

#left-arrow-silder {
	position: absolute;
	left: 2%;
	top: 50%;
}

#right-arrow-silder {
	position: absolute;
	right: 2%;
	top: 50%;
}

/*End section main*/

.section-second-part {
	width: 90%;
	height: 500px;
	padding: 50px 0 0;
	margin: auto;
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
}

.home-about {
	width: 50%;
	height: auto;
	padding: 0 15px;
}

.subtitle {
	color: #a3b0b4;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2em;
	margin-bottom: 0px;
}

.home-about h2 {
	margin-bottom: 25px;
	font-size: 35px;
	line-height: 42px;
}

p {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #808080;
}

.signature {
	width: 180px;
	height: 180px;
	margin-top: 35px;
}

.signature img {
	width: 100%;
}

.home-about-imges {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	box-sizing: border-box;
}

.home-about-img-cont {
	max-width: 50%;
	padding: 0 15px;
}

.home-about-img-cont img {
	width: 100%;
}

/*End section second part*/


/*Start section three part */

.section-three-part {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;
}

.feature-left {
	width: 100%;
	height: 600px;
	background-image: url(../img/chef-portrait/restaurant-7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}

.feature-right {
	width: 100%;
	height: auto;
	margin-top: 80px;
	margin-left: -100px;
	background-color: #FF404C;
	box-sizing: border-box;
}

.feature-right-content {
	width: 80%;
	padding-top: 20px;
	padding-left: 130px;
	box-sizing: border-box;
}

.layer-box {
	padding: 15px 10px;
	margin: 20px 0px;
}

.media {
	display: flex;
	align-items: center;
}

.media-body h3 {
	font-size: 25px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	line-height: 35px;
	color: #FFF;
}

.media-body p {
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 1.8;
	color: #FFF;
}

.media img {
	width: 70px;
	height: 70px;
	margin-right: 15px;
}

/*End Section three part*/


/*Start section four part*/

.section-four-part {
	width: 100%;
	padding: 70px 30px;
	box-sizing: border-box;
}

.center-title {
	text-align: center;
	width: 40%;
	margin: 0 auto 50px;
}

.center-title h2 {
	font-size: 35px;
	line-height: 42px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 8px;
}

.center-title p {
	margin: 0 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #808080;
	line-height: 25px;
}

.row-cont-menu-box{
	display: flex;
	align-items: center;
	justify-content: center;
}

.cont-menu-box {
	width: 50%;
	padding-left: 15px;
	padding-right: 50px;
	box-sizing: border-box; 
}

.menu-box {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
}

.food-desc h4 {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	line-height: 25px;
}

.food-desc p {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #808080;
}

.food-price h4 {
	font-size: 18px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*End section four part*/


/*Start section video*/

.section-video {
	background-image: url(../img/chef-portrait/jalao-bg.jpg);
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 100px 0px;
	box-sizing: border-box;
}

.md-img {

    background-image: url(../img/chef-portrait/restaurant-6.jpg);
    width: 90%;
    margin: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.btn-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #ff404c;
}

.right-corner-message {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FF404C;
    width: 350px;
    padding: 35px 25px 25px 25px;
}

.right-corner-message h4 {
    font-size: 20px;
    line-height: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.right-corner-message p {
    text-align: left;
    line-height: 30px;
    color: #FFF;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/*Start section five part*/

.section-five-part {
	width: 100%;
	box-sizing: border-box;
	padding: 20px 30px;
}

.cont-team-card {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.team-card-box {
	width: 25%;
	background-color: #FFF;
	padding: 25px;
	margin: 15px;
	box-shadow: 1px 1px 10px lightgray;
	box-sizing: border-box;
}


.team-portrait img {
	width: 100%;	
}

.team-caption {
	text-align: center;
	margin-top: 20px;
}

.team-caption h4 {
	font-size: 20px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 8px;
}

.profession {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px;
}

.team-caption p {
	margin: 0 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 25px;
}

.social-links {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.social-links li {
	display: inline-block;
	margin: 0px 5px;
	color: #FF404C;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}


.social-links li:hover {
	color: #e6000f;
}

/*End section five*/

/*Start section six*/

.section-six-part {
	width: 100%;
	box-sizing: border-box;
}

.gallery-wrrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbnail {
	display: inline-block;
	margin: 0px 10px;
	position: relative;
	cursor: pointer;
}

.thumbnail:hover .tc-bottom-content {
	opacity: 1;
} 

.image-popup-vertical-fit {
	width: 250px;
	height: 250px;
}

.image-popup-vertical-fit img {
	width: 100%;
	height: 100%;
}

.tc-bottom-content {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	z-index: 2;
	text-align: center;
	opacity: 0;
	transition: .5s linear;
}

.tc-bottom-content h4 {
	font-size: 20px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 0px;
}

.tc-bottom-content p {
	color: #fff;
	margin: 0 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.cont-row {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wide-cta-banner {
	margin-top: -100px;
	padding: 150px 0px 50px 0px;
	background-color: #FF404C;
}

.cta-left-content h3 {
	color: #FFF;
	font-size: 25px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.cta-left-content p {
	color: #FFF;
	margin: 0 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.btn-outline {
	display: inline-block;
	text-align: center;
	padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	line-height: 1.3333333;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFF;
	background-color: transparent;
	border: solid 1px #FFF;
	border-radius: 3px;
	user-select: none;
}

/*End section six*/

/*Start footer*/

.section-end {
	width: 100%;
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
	box-sizing: border-box;
}

.footer-container {
	width: 95%;
	text-align: center;
}

.footer-logo {
	width: 150px;
	margin: 0 auto 40px;
}

.footer-logo img {
	width: 100%;
}

.footer-social {
	list-style-type: none;
	display: flex;
	justify-content: center;
	color: white;
}

.footer-social li {
	display: inline-block;
	margin: 0px 20px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.book-section {
	margin-top: 40px;
}

.tel-no {
	display: block;
	padding: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 25px;
}

.tel-no:hover {
	color: #FF404C;
}

.footer-email {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 25px;
	color: white;
}

.footer-email:hover {
	color: #FF404C;
}

.address-section {
	margin-top: 25px;
} 

.address-section p {
	text-align: center;
	margin: 0 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #808080;
}


.scrollBtn {
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 80%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	color: white;
	background-color: #ff404c;
}